*{background-color: rgba(230, 230, 230, 1)}

button{
    width: 120px;
    height: 70px;
    border: none;
    font-size: 24px;
    border-radius: 3px;
}
.timer{
    margin-top: 10%;
    font-family: sans-serif;
    font-size: 46px;
    text-align: center;
    padding: 20px;
    height: 70px;
}
.buttons{
    display: flex;
    margin: auto;
    width: 500px;
    justify-content: space-around;
}
.stop{background: rgba(20, 200, 100, 0.5);}
.stop:active{background: rgba(5, 175, 75, 0.5);}
.start{background: rgba(200, 50, 10, 0.5);}
.start:active{background: rgba(175, 35, 5, 0.5);}
.wait{background: rgba(20, 200, 100, 0.5);}
.wait:active{background: rgba(5, 175, 75, 0.5);}
.reset{background: rgba(200, 170, 20, 0.5);}
.reset:active{background: rgba(175, 150, 10, 0.5);}
.wait_permanent{background: rgba(100, 40, 250, 0.5);}
.wait_permanent:active{background: rgba(70, 20, 200, 0.5);}
